<html>

<head>
    <title>Jessica's Blog</title>

    <style>
        body {
            background-color: rosybrown;
            color: whitesmoke;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: lighter;
        }
        
        div#header {
            position: relative;
            margin: auto;
            margin: 3em 8em;
        }
        /* h1 {
            display: block;
            margin: 3em 8em;
        } */
    </style>
</head>

<body>
    <div id="header">
        <h1><a href="/">Jessica's Blog</a></h1>
        <h2>I'd like to use this blog for creative expression!</h2>
        <p>I'm only part of the way through learning Django so I am in suspense...</p>
        <div>
            <p>published: 27.09.2019, 17:14</p>
            <h2><a href="">Images?</a></h2>
            <p>Can I share visually creative works on my new blog?</p>
        </div>

        <div>
            <p>published: 27.09.2019, 17:19</p>
            <h2><a href="">Other media?</a></h2>
            <p>What are the potentials for other media and styling it up? How about animations?</p>
        </div>
    </div>

</body>

</html>